{% extends "layout.html" %} {% block title %} Buy {% endblock %} {% block main
%}

<form action="/buy" method="post">
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="symbol"
      id="symbol"
      placeholder="Symbol"
      type="text"
    />
  </div>
  <div class="form-group">
    <input
      autocomplete="off"
      class="form-control"
      min="1"
      name="shares"
      id="shares"
      placeholder="Shares"
      type="number"
    />
  </div>
  <button class="btn btn-primary" id="submit" type="submit" disabled>
    Buy
  </button>
</form>
<script>
  function validate() {
    if (
      document.querySelector("#symbol").value === "" ||
      document.querySelector("#shares").value === "" ||
      parseInt(document.querySelector("#shares").value) < 1
    ) {
      document.querySelector("#submit").disabled = true;
    } else {
      document.querySelector("#submit").disabled = false;
    }
  }

  document.querySelector("#symbol").onkeyup = validate;
  document.querySelector("#shares").onkeyup = validate;
</script>

{% endblock %}
